<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <form class="" action="/insert" method="get">
      <label for="name">Name</label>
      <input type="text" name="name">

      <label for="email">Email</label>
      <input type="text" name="email">

      <label for="url">URL</label>
      <input type="text" name="url">

      <label for="profilePicUrl">profilePicURL</label>
      <input type="text" name="profilePicUrl">

      <input type="submit" >
    </form>
  </body>
</html>
