<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <ul>
    {{#each users}}
      <li> <a href="/profilePage">{{name}} ({{email}})</a></li>
    {{/each}}
    </ul>
  </body>
</html>
