<!DOCTYPE html>
<html>
  <head>
    <title>Profiles</title>
  </head>
  <body>
    <ul>
      {{profiles.name}}
      {{profiles.url}}
      {{profiles.email}}
      <img src="{{profiles.profilePic}}" alt=""/>
    </ul>
  </body>
</html>
